
/* Default styles */
.container {
  position: absolute;
  width: 145%;
  height: 150%;
  left: 329px;
  top: 0px;
  background-color: #F4F7FE;
}

/* Additional styles for smaller screens */
@media (max-width: 768px) or (max-height: 200px) {
  .container {
      position: absolute;
      width: 375%;
      height: 1055%;
      left: 329px;
      top: 0px;
      background-color: #F4F7FE;
  }
}

/* Additional styles for medium-sized screens */
@media (min-width: 769px) and (max-width: 1200px) {
  .container {
      position: absolute;
      width: 325%;
      height: 1955%;
      left: 329px;
      top: 0px;
      background-color: #F4F7FE;
  }
}

/* Additional styles for smaller-sized screens */
@media (max-height: 499px) {
  .container {
      position: absolute;
      width: 425%;
      height: 2300%;
      left: 329px;
      top: 0px;
      background-color: #F4F7FE;
  }
}


/* Additional styles for larger screens */
@media (min-width: 1201px) and (min-height: 500px) {
  .container {
      position: absolute;
      width: 150%;
      height: 160%;
      left: 329px;
      top: 0px;
      background-color: #F4F7FE;
  }
}





  /*Component 1*/
 /* dashboard_interface.module.css */

.dashboardInterface {

    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 74.2%;
    height: 68px;
    left: 50px;
    top: 42px;
  }
  
  .pageTitle {
    width: 160px;
    height: 24px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #707EAE;
    flex: none;
    order: 0;
    flex-grow: 0;
    text-wrap: nowrap;
  }
  
  .statistiques {
    position: absolute;
    top: 70px;
    width: 375px;
    height: 42px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
    color: #2B3674;
    flex: none;
    order: 1;
    flex-grow: 0;
  }
  
  .misc {
    margin: 0 auto;
    width: 470px;
    height: 68px;
    flex: none;
    order: 1;
    flex-grow: 0;
  }
  
  .rectangle356 {
    position: absolute;
    width: 470px;
    height: 68px;
    left: 1280px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 14px 17px 40px 4px rgba(112, 144, 176, 0.08);
    border-radius: 30px;
  }
  
  .searchContainer {
    left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 20px;
    width: 347.7px;
    height: 46px;
    position: absolute;
    right: 730.45px;
    top: 11.15px;
  }
  
  .largeInput {
    width: 287px;
    height: 46px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  
  .background {
    position: absolute;
    left: 0.1%;
    right: -0.1%;
    top: 0.64%;
    bottom: -0.64%;
    background: #F4F7FE;
    border-radius: 49px;
  }
  
  .searchIcon {
    position: absolute;
    top: 15px;
    left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 7px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-image: url(./../public/search.png);
  }
  
 
  
  .text {
    margin-left: 30px;
    width: 79px;
    height: 20px;
    flex: none;
    order: 1;
    flex-grow: 0;
    background-color: #F4F7FE;
    text-decoration: none; /* Remove text decoration */
    border: none; /* Remove the border */
    outline: none; /* Remove the outline when focused */
  }
  
  
  .notificationsIcon {
    position: absolute;
    right: -80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 20px;
    width: 30px;
    height: 30px;
  }
  
  .notification {
    position: absolute;
    left: 18.39%;
    right: 18.39%;
    top: 10.42%;
    bottom: 8.33%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(./../public/notification.png);
  }
  
  .notificationStyle {
    
    position: absolute;
    left: 18.39%;
    right: 18.39%;
    top: 10.42%;
    bottom: 8.33%;
  }
  
  .notificationLink {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
  }





  /*Component 2*/

/* Button */
.clientButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px;
  gap: 10px;
  position: absolute;
  width: 265px;
  height: 50px;
  margin-left: 1527px;
  top: 130px;
  background: #FFFFFF;
  box-shadow: 14px 17px 40px 4px rgba(112, 144, 176, 0.08);
  border-radius: 20px;
  text-decoration: none;
}

/* bar_chart */
.icon {
  background-repeat: no-repeat;
  background-size:contain;
  background-position: right;
  background-image: url(./../public/adresse.png);
  width: 20px;
  height: 20px;
  margin-left: 10px;
}


/* Créer un nouveau compte client */
.clientButton .buttonText {
  width: 210px;
  height: 23px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #344767;
  flex: none;
  order: 1;
  flex-grow: 0;
}
  
  
/*Component 3*/
  

.adressesTableContainer {
  margin-top: 220px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px 0;
  gap: 10px;
  width: 1750px;
  height: 560px;
  background: #FFFFFF;
  box-shadow: 14px 17px 40px 4px rgba(112, 144, 176, 0.08);
  border-radius: 12px;
}

/* tableHeader */
.tableHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 0 10px 35px;
  gap: 60px;
  width: 1715px;
  height: 47px;
  background: #FFFFFF;
  border-radius: 5px 5px 0 0;
  border-bottom: 2px solid #F4F7FE;
}

/* tableColumn */
.tableColumn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 0 0 0px;
  gap: 60px;
  width: 200px;
  height: 23px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #344767;
  text-wrap: nowrap;
}


.nationality {
  width: 100px;
  height: 23px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #344767;
  text-align: left;
  text-wrap: nowrap;
}


.state_province {
  width: 100px;
  height: 23px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #344767;
  text-align: left;
  text-wrap: nowrap;
}


.district_region {
  width: 100px;
  height: 23px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #344767;
  text-align: left;
  text-wrap: nowrap;
}


.city {
  width: 100px;
  height: 23px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #344767;
  text-align: left;
  text-wrap: nowrap;
}


.street {
  width: 100px;
  height: 23px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #344767;
  text-align: left;
  text-wrap: nowrap;
}


.block {
  width: 100px;
  height: 23px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #344767;
  text-align: left;
  text-wrap: nowrap;
}


.house_number {
  width: 100px;
  height: 23px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #344767;
  text-align: left;
  text-wrap: nowrap;
}

.postal_code {
  width: 100px;
  height: 23px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #344767;
  text-align: left;
  text-wrap: nowrap;
}

.address_type {
  width: 100px;
  height: 23px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #344767;
  text-align: left;
  text-wrap: nowrap;
}

.operation_type {
  width: 100px;
  height: 23px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #344767;
  text-align: left;
  text-wrap: nowrap;
}

/* action */
th.action {
  width: 54px;
  height: 23px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #344767;
}

td.action {
  margin-left: 18px;
  width: 17px;
  height: 17px;
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
  background-image: url(./../public/troisPoints.png);
}

button.action {
  width: 0px;
  height: 19px;
  opacity: 0;
}
 

/* dataShow (rows) */
.dataShow {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 0 0 35px;
  gap: 60px;
  width: 1715px;
  height: 47px;
  border-bottom: 1px solid #F4F7FE;
}

.dataShow:last-child {
  border:none;
}

/* Page */
.page {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 16px;
  position: absolute;
  width: 201px;
  height: 35px;
  left: 1584px;
  margin-top: 50px;
}

/* arrow / chevron_big_down */
.page .chevronDown {
 /* arrow symbol */

  box-sizing: border-box;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  width: 7px;
  height: 14px;

  
  background-image: url(./../public/arrow_black.png);

}

/* 01 */
.page .circle {
  width: 35px;
  height: 35px;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  background: #54B848;
  box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.14);
  border-radius: 40px;
  position: absolute;
  left: calc(50% - 35px/2 - 51px);
  top: 0px;
}

/* 1 */
.page .text1 {
  position: absolute;
  width: 7px;
  height: 23px;
  left: 13px;
  top: calc(50% - 23px/2);
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

/* 02 */
.page .circle2 {
  width: 35px;
  height: 35px;
  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
  position: absolute;
  background: transparent;
  box-sizing: border-box;
  border: 2px solid #B8B8B8;
  border-radius: 40px;
  left: calc(50% - 35px/2);
  top: 0px;
}

/* 2 */
.page .text2 {
  position: absolute;
  width: 11px;
  height: 23px;
  left: calc(50% - 11px/2);
  top: calc(50% - 23px/2 - 0px);
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #B8B8B8;
}

/* 03 */
.page .circle3 {
  width: 35px;
  height: 35px;
  /* Inside auto layout */
  flex: none;
  order: 3;
  flex-grow: 0;
  position: absolute;
  background: transparent;
  box-sizing: border-box;
  border: 2px solid #B8B8B8;
  border-radius: 40px;
  left: calc(50% - 35px/2 + 51px);
  top: 0px;
}

/* 3 */
.page .text3 {
  position: absolute;
  width: 11px;
  height: 23px;
  left: 11px;
  top: calc(50% - 23px/2 - 0px);
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #B8B8B8;
}

/* arrow / chevron_big_down */
.page .chevronUp {
  /* arrow symbol */

  box-sizing: border-box;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  width: 7px;
  height: 14px;
  margin-left: 192px;
  
  background-image: url(./../public/arrow_black2.png);
}

.chevronUp button {
  width: 0px;
  height: 19px;
  opacity: 0;
}

.chevronDown button {
  width: 0px;
  height: 19px;
  opacity: 0;
}

.circle button {
  width: 35px;
  height: 35px;
  opacity: 0;
}

.circle2 button {
  width: 35px;
  height: 35px;
  opacity: 0;
}

.circle3 button {
  width: 35px;
  height: 35px;
  opacity: 0;
}




/* ProfileMenu.module.css */

/* Frame 42579 */
.frame42579 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 201px;
  height: 120px;
  left: 1520px;
  top: 315px;
  background: #FFFFFF;
  box-shadow: 14px 17px 40px 4px rgba(112, 144, 176, 0.08);
  border-radius: 20px;
}


/* Shared styles for each frame */
.frame18,
.frame19 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 18px;
  gap: 14px;
  width: 164px;
  border-radius: 15px;
  flex: none;
  flex-grow: 0;
  border: none;
  background-color: #FFFFFF;
  text-decoration: none;
}



.modifierAdresse {
  width: 64px;
  height: 23px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: justify;
  color: #344767;
  text-wrap: nowrap;
}


.supprimer {
  width: 64px;
  height: 23px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: justify;
  color: #344767;
  text-wrap: nowrap;
}

.link {
  text-decoration: none;
}