/* Frame 48095623 */
.container {
  position: absolute;
  width: 100%;
  height: 631px;
  left: 0px;
  top: 0px;
  right: 0px;
}


/* Additional styles for smaller screens */
@media (max-width: 768px) or (max-height: 200px) {
  .container {
      position: absolute;
      width: 100%;
      height: 100%;
  }
}

/* Additional styles for medium-sized screens */
@media (min-width: 769px) and (max-width: 1200px) {
  .container {
      position: absolute;
      width: 100%;
      height: 200%;
  }
}

/* Additional styles for larger screens */
@media (min-width: 1201px) and (min-height: 200px) {
  .container {
      position: absolute;
      width: 100%;
      height: 100%;
  }
}


/* image 2 */
.image {
  width: 100%; /* Set the width to 100% to cover the entire container */
  height: 100%;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  background-image: url(./../public/image.png);
}