
/* Default styles */
.container {
  position: absolute;
  width: 120%;
  height: 150%;
  left: 329px;
  top: 0px;
  background-color: #F4F7FE;
}

/* Additional styles for smaller screens */
@media (max-width: 768px) or (max-height: 200px) {
  .container {
      position: absolute;
      width: 350%;
      height: 1055%;
      left: 329px;
      top: 0px;
      background-color: #F4F7FE;
  }
}

/* Additional styles for medium-sized screens */
@media (min-width: 769px) and (max-width: 1200px) {
  .container {
      position: absolute;
      width: 300%;
      height: 1955%;
      left: 329px;
      top: 0px;
      background-color: #F4F7FE;
  }
}

/* Additional styles for smaller-sized screens */
@media (max-height: 499px) {
  .container {
      position: absolute;
      width: 400%;
      height: 2300%;
      left: 329px;
      top: 0px;
      background-color: #F4F7FE;
  }
}


/* Additional styles for larger screens */
@media (min-width: 1201px) and (min-height: 500px) {
  .container {
      position: absolute;
      width: 125%;
      height: 150%;
      left: 329px;
      top: 0px;
      background-color: #F4F7FE;
  }
}





  /*Component 1*/
 /* dashboard_interface.module.css */

.dashboardInterface {

    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 74.2%;
    height: 68px;
    left: 50px;
    top: 42px;
  }
  
  .pageTitle {
    width: 160px;
    height: 24px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #707EAE;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  
  .statistiques {
    position: absolute;
    top: 70px;
    width: 375px;
    height: 42px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
    color: #2B3674;
    flex: none;
    order: 1;
    flex-grow: 0;
  }
  
  .misc {
    margin: 0 auto;
    width: 470px;
    height: 68px;
    flex: none;
    order: 1;
    flex-grow: 0;
  }
  
  .rectangle356 {
    position: absolute;
    width: 470px;
    height: 68px;
    left: 982px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 14px 17px 40px 4px rgba(112, 144, 176, 0.08);
    border-radius: 30px;
  }
  
  .searchContainer {
    left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 20px;
    width: 347.7px;
    height: 46px;
    position: absolute;
    right: 730.45px;
    top: 11.15px;
  }
  
  .largeInput {
    width: 287px;
    height: 46px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  
  .background {
    position: absolute;
    left: 0.1%;
    right: -0.1%;
    top: 0.64%;
    bottom: -0.64%;
    background: #F4F7FE;
    border-radius: 49px;
  }
  
  .searchIcon {
    position: absolute;
    top: 15px;
    left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 7px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-image: url(./../public/search.png);
  }
  
 
  
  .text {
    margin-left: 30px;
    width: 79px;
    height: 20px;
    flex: none;
    order: 1;
    flex-grow: 0;
    background-color: #F4F7FE;
    text-decoration: none; /* Remove text decoration */
    border: none; /* Remove the border */
    outline: none; /* Remove the outline when focused */
  }
  
  
  .notificationsIcon {
    position: absolute;
    right: -80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 20px;
    width: 30px;
    height: 30px;
  }
  
  .notification {
    position: absolute;
    left: 18.39%;
    right: 18.39%;
    top: 10.42%;
    bottom: 8.33%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(./../public/notification.png);
  }
  
  .notificationStyle {
    
    position: absolute;
    left: 18.39%;
    right: 18.39%;
    top: 10.42%;
    bottom: 8.33%;
  }
  
  .notificationLink {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
  }







  /*Component 2*/

  /* Frame 48095628 */
.frame48095628 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 25px;
  position: absolute;
  width: 1525px;
  height: 660px;
  left: 50px;
  top: 184px;
}

/* Frame 1000001842 */
.frame1000001842 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;
  width: 1525px;
  height: 660px;
}

/* Frame 1000001843 */
.frame1000001843 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;
  width: 1025px;
  height: 255px;
}

/* Frame 1000001836 */
.frame1000001836 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 25px;
  width: 1525px;
  height: 65px;
}

/* Frame 1000001837 */
.frame10000018371 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 25px;
  width: 1525px;
  height: 65px;
}

/* Frame 78 */
.frame781 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  gap: 10px;
  width: 713px;
  height: 65px;
  background: #FFFFFF;
  border: 1px solid #E7E7E7;
  border-radius: 20px;
}

/* Prenom */
.prenom {
  width: 100%;
  height: 25px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #344767;
  border: none;
  outline: none;
}

/* Frame 79 */
.frame791 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  gap: 10px;
  width: 713px;
  height: 65px;
  background: #FFFFFF;
  border: 1px solid #E7E7E7;
  border-radius: 20px;
}

/* Nom */
.nom {
  width: 100%;
  height: 25px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #344767;
  border: none;
  outline: none;
}

/* Frame 1000001839 */
.frame1000001839 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 25px;
  width: 1525px;
  height: 65px;
}

/* Frame 1000001837 */
.frame10000018372 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 25px;
  width: 1525px;
  height: 65px;
}

/* Frame 78 */
.frame782 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  gap: 10px;
  width: 713px;
  height: 65px;
  background: #FFFFFF;
  border: 1px solid #E7E7E7;
  border-radius: 20px;
}

/* 0541554087 */
.phoneNumber {
  width: 100%;
  height: 25px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #344767;
  border: none;
  outline: none;
}

/* Frame 79 */
.frame792 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  gap: 10px;
  width: 713px;
  height: 65px;
  background: #FFFFFF;
  border: 1px solid #E7E7E7;
  border-radius: 20px;
}

/* Email */
.email {
  width: 100%;
  height: 25px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #344767;
  border: none;
  outline: none;
}

/* Group 157 */
.group1571 {
  width: 442px;
  height: 65px;
}

/* Btn Bg */
.btnBg1 {
  width: 402px;
  height: 65px;
  position: absolute;
  left: 0%;
  right: 71.02%;
  top: 27.51%;
  bottom: 0%;
  background: #54B848;
  border-radius: 20px;
  border: none;
}

/* Text */
.btnText1 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: white;
}

/* Frame 1000001844 */
.frame1000001844 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;
  margin: 0 auto;
  width: 1525px;
  height: 232px;
}

/* Modification du mot de passe */
.passwordModification {
  width: 489px;
  height: 42px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 42px;
  color: #2B3674;
}

/* Frame 1000001840 */
.frame1000001840 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 25px;
  width: 1525px;
  height: 65px;
}

/* Frame 1000001837 */
.frame10000018373 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 25px;
  width: 1525px;
  height: 65px;
}

/* Frame 78 */
.frame783 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 713px;
  height: 65px;
  background: #FFFFFF;
  border: 1px solid #E7E7E7;
  border-radius: 20px;
}

/* Ancien mot de passe * */
.oldPassword {
  margin-left: 20px;
  width: 620px;
  height: 25px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #B8B8B8;
  border: none;
  outline: none;
}

/* solar:eye-linear */
.eyeIcon {
  margin-left: 200px;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  background-image: url(./../public/greyEye.png);
}

/* Group */
.group {
  position: absolute;
  left: 8.33%;
  right: 8.33%;
  top: 16.67%;
  bottom: 16.67%;
}


/* Frame 80 */
.frame80 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 713px;
  height: 65px;
  background: #FFFFFF;
  border: 1px solid #E7E7E7;
  border-radius: 20px;
}

/* Nouveau mot de passe * */
.newPassword {
  margin-left: 20px;
  width: 620px;
  height: 25px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #B8B8B8;
  border: none;
  outline: none;
}

/* solar:eye-linear */
.eyeIcon {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  background-image: url(./../public/greyEye.png);
}

/* Group */
.group {
  position: absolute;
  left: 8.33%;
  right: 8.33%;
  top: 16.67%;
  bottom: 16.67%;
}



/* Group 157 */
.group1572 {
  width: 442px;
  height: 65px;
}

/* Btn Bg */
.btnBg2 {
  position: absolute;
  width: 402px;
  height: 65px;
  left: 0%;
  right: 71.02%;
  top: 89.51%;
  background: #54B848;
  border-radius: 20px;
  border: none;
}

/* Text */
.btnText2 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: white;
}

.oldPassword::placeholder,.newPassword::placeholder {
  color: #B8B8B8;
}