/* Sign In Container */
.signInContainer {
  position: absolute;
  width: 100%;
  height: 100vh;
  right:0px;
  top: 0px;
}

/* Sign In Card */
.signInCard {
  position: relative;
  max-width: 40vw;
  width: 478px;
  height: 350px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Rectangle 76 */
.rectangle76 {
  position: relative;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

/* Sign In Header */
.signInHeader {
  position: absolute;
  max-width: 30vw;
  width: 300px;
  height: 60px;
  left: 50%;
  top: -7%;
  transform: translateX(-50%);
  background: linear-gradient(180deg, #85D988 0%, #31754C 99.97%, #4C8159 99.98%, #4C855A 99.99%, #4DA766 100%);
  border-radius: 20px;
}

/* Espace admin */
.espaceAdmin {
  text-align: center;
  position: absolute;
  width: 244px;
  height: 31px;
  left: 50%;
  top: -7%;
  transform: translateX(-50%);
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  color: #FFFFFF;
}

/* Frame 48095631 */
.frame48095631 {
  max-width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 39px;
  position: absolute;
  width: 442px;
  height: 373px;
  left: 50%;
  top: 15%;
  transform: translateX(-50%);
}

/* Frame 48095630 */
.frame48095630 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 25px;
  width: 100%;
  max-width: 30vw;
}

/* Frame 48095628 */
.frame48095628 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 25px;
  width: 100%;
  max-width: 30vw;
}

/* Frame 77 */
.frame77 {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  gap: 10px;
  width: 90%;
  height: 20px;
  border: 1px solid #E7E7E7;
  border-radius: 20px;

}

/* Email ou nom d’utilisateur */
.emailUsername {
  width: 214px;
  height: 25px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #6e6d6d;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;
  outline: none;
}

.telephone {
  width: 414px;
  height: 25px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #6e6d6d;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;
  outline: none;
}
/* Frame 78 */
.frame78 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap: 10px;
  width: 90%;
  height: 20px;
  border: 1px solid #E7E7E7;
  border-radius: 20px;
}

/* Mot de passe */
.motDePasse {

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #707EAE;

}


.motDePasse::placeholder,.emailUsername::placeholder,.telephone::placeholder  {
  color: #B8B8B8;
}


/* solar:eye-linear */
.solarEyeLinear {
  margin: 0 auto;
  width: 24px;
  height: 24px;
}

/* Group */
.group {
  position: absolute;
  left: 8.33%;
  right: 8.33%;
  top: 16.67%;
  bottom: 16.67%;
}

/* Vector */
.vector {
  position: absolute;
  left: 8.33%;
  right: 8.33%;
  top: 16.67%;
  bottom: 16.67%;
  border: 1.5px solid #B8B8B8;
}

/* Vector */
.vector {
  position: absolute;
  left: 37.5%;
  right: 37.5%;
  top: 37.5%;
  bottom: 37.5%;
  border: 1.5px solid #B8B8B8;
}

/* Inside auto layout */
.flexrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 13px;
}

/* Frame 48095629 */
.frame48095629 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 3px;
  gap: 6px;
  width: 198px;
  height: 25px;
}

/* checkbox button */
.checkboxButton {
  position: relative;
  width: 15px;
  height: 15px;
  border:solid;
  border-color: #B8B8B8;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* Checkbox input */
.checkboxInput {
  display: none;
}

/* Checkmark icon */
.checkmarkIcon {
  width: 14px;
  height: 14px;
  fill: #54B848;
  display: none;
}

/* Styling for checked state */
.checkboxInput:checked + .checkboxButton .checkmarkIcon {
  display: block;
}

/* toggle/simple */
.toggleSimple {
  width: 34px;
  height: 20px;
}

/* bg */
.bg {
  position: absolute;
  left: 11.76%;
  right: 0%;
  top: 15%;
  bottom: 10%;
  background: #B8B8B8;
  border-radius: 7.5px;
}

/* circle */
.circle {
  box-sizing: border-box;
  position: absolute;
  left: 0%;
  right: 41.18%;
  top: 0%;
  bottom: 0%;
  background: #FFFFFF;
  border: 1px solid #B8B8B8;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}

/* Se souvenir de moi */
.seSouvenirDeMoi {
  width: 158px;
  height: 25px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #707EAE;
  max-width:140px ;
}

/* Group 157 */
.group157 {
  width: 100%;
  height: 65px;
}

/* Btn Bg */
.btnBg {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 60.42%;
  bottom: 23.16%;
  background: #54B848;
  border-radius: 20px;
}

/* Text */
.text {
  position: absolute;
  width: 117px;
  height: 25px;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
}

/* Mot de passe oublié? */
.motDePasseOublie {
  position: absolute;
  width: 100%;
  height: 25px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #707EAE;
  bottom: 5%;
}

/* Récupérer mot de passe lien */
.motDePasseOublie a {
  text-decoration: none;
  color: #54B848;
 
}

/* Inside auto layout */
.inside-auto-layout {
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}

/*
.errorMessage1 {
top: 45px;
left: 0;
position: absolute;
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 140%;
color: #F65656;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
max-width: 100%;
}
*/

.errorMessage2 {
  top: 130px;
  left: 0;
  position: absolute;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  color: #F65656;
  }
  
  .errorBorder {
    border-color: #F65656;
  }
  